.faq-item__wrapper {
	// @include grid-col(12);
	// @include grid-col(12 12 6 6 6);
	margin: 80px 0 0 0;
	// padding: 0 15px;
	// &:nth-child(1),
	// &:nth-child(2) {
	// 	margin: 0;
	// }
}
.faq-item {
	position: relative;
	width: 100%;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 15px;
		width: 2px;
		height: 100%;
		background: #f3f3f3;
		@include grid-breakpoint(md) {
			top: 35px;
			height: calc(100% - 35px);
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 15px;
		width: 2px;
		height: 100%;
		background: $accent-color;
		transform-origin: top;
		transform: scaleY(0);
		transition: transform 0.3s;
		@include grid-breakpoint(md) {
			top: 35px;
			height: calc(100% - 35px);
		}
	}
	&.opened {
		&:after {
			transform: scaleY(1);
		}
		.faq-item__answer {
			// transform: scaleY(1);
		}
	}
	.faq-item__question {
		padding: 0 0 0 30px;
		@include grid-breakpoint(md) {
			cursor: pointer;
		}
		.question__num {
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 0.75rem;
			color: #6c6c6c;
			text-transform: uppercase;
		}
		.question__title {
			margin: 0 0 5px 0;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 1rem;
			color: $accent-color;
			line-height: (48/16);
			letter-spacing: 0.075em;
			text-transform: uppercase;
		}
		.question__text {
			margin: 0;
			font-family: 'Lato', sans-serif;
			font-size: 1rem;
			color: #6c6c6c;
			line-height: (24/16);
		}
	}
	.faq-item__answer {
		display: none;
		margin: 50px 0 0 0;
		padding: 0 0 0 30px;
		// transform-origin: top;
		// transform: scaleY(0);
		// transition: transform 0.3s;
		.answer__title {
			margin: 0;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 1rem;
			color: $accent-color;
			letter-spacing: 0.075em;
			text-transform: uppercase;
		}
		.answer__text {
			margin: 20px 0 0 0;
			font-family: 'Lato', sans-serif;
			font-size: 1rem;
			color: #6c6c6c;
			line-height: (24/16);
		}
	}
}