.breadcrumbs {
	text-align: center;
	&.post {
		margin-top: 150px;
		text-align: left;
		@include grid-breakpoint(sm) {
			margin-top: 0;
		}
	}
	&__link {
		font-family: 'Lato', sans-serif;
		font-size: 0.625rem;
		color: #ededed;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		transition: color 0.3s;
		&:after {
			content: '//';
			margin: 0 0 0 3px;
			font-family: 'Lato', sans-serif;
			font-size: 0.625rem;
			color: #ededed;
			letter-spacing: 0.075em;
		}
		&:last-child {
			&:after {
				content: '';
			}
		}
		&:hover {
			color: $accent-color;
		}
		&--active {
			color: $accent-color;
		}
	}
}