.popup {
    &__title {
        margin: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color: #4c4c4c;
        line-height: (46/32);
        text-align: left;
        &.center {
            text-align: center;
        }
    }
    &__subtitle {
        margin: 20px 0 0 0;
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        color: #6c6c6c;
        line-height: (24/16);
        text-align: left;
        @include grid-breakpoint(md) {
            margin: 0;
        }
        &.center {
            margin: 40px 0 0 0;
            text-align: center;
            @include grid-breakpoint(md) {
                margin: 40px 0 0 0;
            }
        }
    }
    .btn--alone {
        margin: 55px 0 0 0;
        border: 1px solid $accent-color;
    }

    .conf-policy__title {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color: $accent-color;
    }
    .conf-policy__subtitle {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        color: $accent-color;
    }
    .conf-policy__text {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #6c6c6c;
        text-align: left;
    }
    .conf-policy__list {
        margin: 10px 0;
        padding: 0;
        @include grid-breakpoint(sm) {
            margin: 10px 0 10px 50px;
        }
        .list__item {
            padding: 5px 0;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            color: #6c6c6c;
            text-align: left;
        }
    }
    .conf-policy__tel {
        display: block;
        margin: 5px 0;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #6c6c6c;
        text-align: left;
    }
}