title = "Работы по курсу"
url = "/gallery/photoworks-backstage/photoworks/:slug"
layout = "default"
meta_title = "Работы по курсу"
meta_description = "Работы студентов фотошколы"
is_hidden = 0
btn_check = 0
robot_index = "index"
robot_follow = "follow"
og_title = "Работы студентов"
og_description = "Работы студентов фотошколы BLENDA"
og_image = "/courses/amateur/gallery/backstage/-Rxtjc1Rz9I.jpg"

[siteSearchInclude]
==
<?php
use Spaced\Blenda\Models\Course;

	function onStart() {
		$this['course'] = Course::where('slug', '=', $this->param('slug'))->first();
	}
?>
==
{% component 'siteSearchInclude' %}

<section class="banner">
	<figure class="banner__img-wrapper image-wrapper">
		<img class="img-wrapper__img" src="{{ course.gallery_students_banner|media }}" alt="{{ course.title }}">
	</figure>
	<div class="breadcrumbs">
		<a class="breadcrumbs__link" href="{{ 'home'|page }}">Главная</a>
		<a class="breadcrumbs__link" href="{{ 'gallery'|page }}">Галерея</a>
		<a class="breadcrumbs__link" href="{{ 'gallery_students-backstage'|page }}">Фотоработы по курсам</a>
		{% if course.gallery_type == 1 %}
		<a class="breadcrumbs__link breadcrumbs__link--active" href="{{ ''|page }}">Работы студентов</a>
		{% elseif course.gallery_type == 2 %}
		<a class="breadcrumbs__link breadcrumbs__link--active" href="{{ ''|page }}">Работы преподавателей</a>
		{% endif %}
	</div>
	{% if course.gallery_type == 1 %}
	<h1 class="banner__title">Работы студентов по курсу</h1>
	{% elseif course.gallery_type == 2 %}
	<h1 class="banner__title">Работы преподавателей по курсу</h1>
	{% endif %}
	<p class="banner__gallery-subtitle">"{{ course.title }}"</p>
	<span class="scroll-down">
		<svg class="scroll-down__icon" viewBox="0 0 114.4 167.5">
			<path d="M57.4,164.4L57.4,164.4c-29.5,0-53.7-24.2-53.7-53.7V57c0-29.5,24.2-53.7,53.7-53.7h0C86.9,3.4,111,27.5,111,57
						  v53.7C111,140.2,86.9,164.4,57.4,164.4z"></path>
			<line class="icon__scroll" x1="57.4" y1="25.3" x2="57.4" y2="54.3"></line>
		</svg>
		пролистайте
	</span>
</section>

<div class="section container">
	<div class="msnry">
		{% if course.gallery_type == 1 %}
			{% for item in course.gallery_students %}
				<div class="gallery-item">
					<a href="{{ item.image|media }}" data-rel="lightcase:slider:slideshow">
						{% if item.size == 1 %}
							<figure class="gallery-item__img-wrapper small image-wrapper">
								<img class="img-wrapper__img small" src="" data-src="{{ item.image|media }}" alt="{{ item.alt }}">
							</figure>
						{% elseif item.size == 2 %}
							<figure class="gallery-item__img-wrapper middle image-wrapper">
								<img class="img-wrapper__img small" src="" data-src="{{ item.image|media }}" alt="{{ item.alt }}">
							</figure>
						{% elseif item.size == 3 %}
							<figure class="gallery-item__img-wrapper large image-wrapper">
								<img class="img-wrapper__img small" src="" data-src="{{ item.image|media }}" alt="{{ item.alt }}">
							</figure>
						{% else %}
							<figure class="gallery-item__img-wrapper middle image-wrapper">
								<img class="img-wrapper__img small" src="" data-src="{{ item.image|media }}" alt="{{ item.alt }}">
							</figure>
						{% endif %}
					</a>
				</div>
			{% endfor %}
		{% elseif course.gallery_type == 2 %}
			{% for item in course.gallery_teachers %}
				<div class="gallery-item">
					<a href="{{ item.image|media }}" data-rel="lightcase:slider:slideshow">
						{% if item.size == 1 %}
							<figure class="gallery-item__img-wrapper small image-wrapper">
								<img class="img-wrapper__img small" src="" data-src="{{ item.image|media }}" alt="{{ item.alt }}">
							</figure>
						{% elseif item.size == 2 %}
							<figure class="gallery-item__img-wrapper middle image-wrapper">
								<img class="img-wrapper__img small" src="" data-src="{{ item.image|media }}" alt="{{ item.alt }}">
							</figure>
						{% elseif item.size == 3 %}
							<figure class="gallery-item__img-wrapper large image-wrapper">
								<img class="img-wrapper__img small" src="" data-src="{{ item.image|media }}" alt="{{ item.alt }}">
							</figure>
						{% else %}
							<figure class="gallery-item__img-wrapper middle image-wrapper">
								<img class="img-wrapper__img small" src="" data-src="{{ item.image|media }}" alt="{{ item.alt }}">
							</figure>
						{% endif %}
					</a>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<div class="more-photos-block">
		<a id="loadMore" class="more-photos-block__link" href="#">показать больше фото</a>
	</div>
</div>